body {
	overflow-x: hidden;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
}

header {
	background-color: #EA2328;
	color: #fff;
	font-family: Marvel;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.content {
	display: inline-block;
	padding: 0 10px;
	width: 100%;
}

.columns {
	display: inline-block;
	position: relative;
	width: 50%;

	&.col-left { float: left; }

	&.col-right { float: right; }
}

.columns {
	display: inline-block;
	position: relative;
	width: 50%;

	&.col-left { float: left; }

	&.col-right { float: right; }
}

footer { padding: 0 10px; }

@media( max-width: 767px ) {
	.columns {
		width: 100%;

		.col-right { float: left; }
	}
}